.container {
  max-width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #52ACFF;
  background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
